body {
	background-image:url(backgrand-image.jpg);
	background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  position: relative;
  background-attachment: fixed;
	}
ul {
	width: 200px;
	margin: 0;
	padding: 0;
	list-style-type: none;
  background-color: #eeeeee;
  float: left;
}
li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
}
li {
	text-align: center;
}
li:last-child {
	border-bottom: none;
}
li a.active {
	color: #ffffff;
	background-color: #da3c41;
}
li a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}
